<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.cmfz.dao.RoleDao">
    <resultMap id="roleMap" type="Role">
        <id property="roleId" column="role_id"></id>
        <result property="roleName" column="role_name"></result>
        <result property="roleTag" column="role_tag"></result>
    </resultMap>

    <select id="selectRoleByManagerName" resultMap="roleMap">
        select *
        from t_role
        where role_id
        in(select role_id
            from t_manager_role
            where manager_id =(select id from t_manager where name = #{managerName}))
    </select>

</mapper>
